svg {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .about {
    padding: 20px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    position:relative;
    bottom: 10;
    left: 0;
    right: 10;
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    position: relative;
    min-height: 100vh;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  @media screen and (min-width: 550px) {
    main {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 20px;
    }
  
    .about {
      font-size: 20px;
    }
  }
  